@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:active, *:focus {
  border: 0;
  outline: 0;
}

body {
  background: #ecf0f1;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: inline-block;
}

#card {
  width: 21rem;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.search-box label {
  position: relative;
}

.search-box label:after {
  position: absolute;
  content: "";
  border-right: .625rem solid transparent;
  border-left: .625rem solid transparent;
  border-bottom: .625rem solid #C6BDBD;
  bottom: -1.0625rem;
  right: 50%;
  margin-right: -0.3125rem;
}

.search-box input[type='search'] {
  width: 100%;
  font: 1rem "Titillium Web", sans-serif;
  color: #EE3534;
  border-top: 1px solid #C6BDBD;
  border-left: 1px solid #C6BDBD;
  border-right: 1px solid #C6BDBD;
  border-bottom: 0px;
  padding: .75rem .9375rem .9375rem;
  background: #e6ebed;
  border-radius: .3125rem .3125rem 0 0;
  text-align: center;
  box-sizing: border-box;
}

.github-profile {
  width: 100%;
}

.github-profile-info {
  background: #C6BDBD;
  text-align: center;
  padding: 1.875rem .9375rem;
  /*border-radius: .3125rem .3125rem 0 0;*/
}

.github-profile-info img {
  width: 8.25rem;
  height: 8.25rem;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.github-profile-info h2 a {
  font-size: 1.65rem;
  color: #EE3534;
}
.github-profile-info h3 {
  font-size: 1.1885rem;
  color: #fff;
}
.github-profile-stats {
  background: #EE3534;
  text-align: center;
  padding: 1.875rem .9375rem;
  border-radius: 0 0 .3125rem .3125rem;
}
.github-profile-stats ul {
  direction: ltr;
}
.github-profile-stats li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
}
.github-profile-stats li:last-child {
  margin-right: 0;
}
.github-profile-stats a {
  color: #fff;
}
.github-profile-stats i {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.github-profile-stats span {
  font-size: .844rem;
  letter-spacing: .0625rem;
  color: #fff;
}
